{
  type: 'object'
  title: 'Get Device'
  'x-group-name': 'Device'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: ['uuid']
      properties:
        uuid:
          type: 'string'
          title: 'UUID'
          description: 'Meshblu Device UUID'
}
